/* ------- VARIABLES -------- */
/* ------- MAIN INFO -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 17px;
}

/* ------- TITLES, TEXTS -------- */
.text-bold {
  font-weight: 600;
}

.text-thin {
  font-weight: 200;
}

.text-black {
  color: black;
}

.text-grey {
  color: #333;
}

.font-m {
  font-family: "Montserrat", sans-serif;
}

.text-xs {
  font-size: 0.77rem;
}

.text-md {
  font-size: 1.22rem;
}

strong {
  font-weight: 600;
}

/* ------- BACKGROUNDS -------- */
.bg-neat {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

/* -----  BORDERS, SHADOWS AND OTHER  ----- */
.hr-small {
  border: 0px;
  border-top: 2px solid black;
  width: 100px;
}

.rounded-10 {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.1) !important;
}

.pt-nav {
  padding-top: 80px;
}

/* ------- NAVBAR -------- */
.navbar-brand {
  padding-right: 40px;
}

.navbar-brand img {
  width: 100px;
}

.nav-item {
  padding-right: 20px;
}

.nav-link {
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.navbar .dropdown-toggle::after {
  color: #fff;
}

#navModal .modal-content {
  background: linear-gradient(135deg, #004A82 0%, #00B9EA 40.29%, #00B9EA 75.9%, #00B500 100%);
}

/* ------- HEADER -------- */
header {
  background: linear-gradient(135deg, #004A82 0%, #00B9EA 40.29%, #00B9EA 75.9%, #00B500 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bg-header-img {
  background-image: url(../img/pictures/landing-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* ------- FOOTER -------- */
/* ------- DROPDOWN -------- */
.dropdown-menu {
  border-radius: 10px;
  min-width: 6rem;
}

/* ------- BUTTONS -------- */
.btn {
  min-width: 120px;
  border-radius: 10px;
  padding: 13px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.btn-white {
  background-color: #fff;
  color: #333;
}

.btn-blue {
  background-color: #113164;
  color: #fff;
}

.btn-outline-white {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.btn-outline-white:hover {
  background-color: #fff;
  color: #333;
  transition-duration: 0.3s;
}

.btn-repeat {
  width: 43px;
  height: 43px;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.1) !important;
  transition-duration: 0.25s;
}
.btn-repeat:hover {
  box-shadow: 0 5px 10px 0 rgba(51, 51, 55, 0.2) !important;
  transition-duration: 0.35s;
}

.navbar .btn {
  font-size: 0.9rem;
}

.button-style-none {
  border: none !important;
  background: transparent !important;
}

button:active {
  outline: none !important;
  border: none !important;
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* ------- FORMS -------- */
::-moz-placeholder {
  color: black !important;
}
::placeholder {
  color: black !important;
}

:-ms-input-placeholder {
  color: black !important;
}

::-ms-input-placeholder {
  color: black !important;
}

/* ------- POSITIONING -------- */
.img-square {
  position: relative;
}
.img-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img-square img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.anchor {
  padding-top: 100px;
  margin-top: -100px;
}

.my-sec {
  margin-top: 60px;
  margin-bottom: 60px;
}

.py-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.left-50 {
  left: 50%;
}

.right-0 {
  right: 0;
}

.translate-50 {
  transform: translate(-50%, -50%);
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* ------- ACTIONS -------- */
.hover-dark {
  background-color: transparent;
}
.hover-dark:hover {
  background-color: rgba(0, 0, 0, 0.123);
}

.hover-primary {
  color: #212529;
}
.hover-primary:hover {
  color: #000000;
}

.pointer {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

/* ------- QUERIES -------- */
@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .position-lg-absolute {
    position: absolute;
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .my-sec {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .py-sec {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
.slideIn {
  animation-name: slideIn;
}/*# sourceMappingURL=style.css.map */